<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--  Browser Icon  -->
  <link rel="icon" href="./assets/images/favicon.ico">
  <!--  Bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!--  My CSS and JS  -->
  <link rel="stylesheet" href="/static/main.css"></link>
  <script src="/static/coordinates.js"></script>
  <script type="text/javascript">var ip = "{{data}}";</script>
  <title>Remote Mouse</title>
</head>
<body>
  <div id="navbar">
    <h1>Remote Mouse</h1>
    <div id="status"><span id="server-ip"></span></div>
  </div>
  <div id="control"><p id="x">Drag anywhere within this box <br></p><p id="y"></p></div>
</body>
</html>